:root
{
    /* light mode colors */
    --bg-color: #ffffff;
    --text-color: rgba(4, 7, 21, 1);
    --ieee-blue: rgba(30, 76, 146, 1);
    --ieee-gold: rgba(202, 185, 142, 1);

    /* fonts */
    --sans-serif: "Helvetica", "Roboto", sans-serif;
    --serif: "Cambria Math", "Georgia", "Times", serif;

    /* page margins */
    --margin-lr: clamp(1rem, 10vw, 5rem);


*
{
    padding: 0;
    margin: 0;
}

header
{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 2.4rem;
    padding-bottom: 2.4rem;
    padding-left: var(--margin-lr);
    padding-right: var(--margin-lr);
    background-color: var(--text-color);
}

#course-logo
{
    height: 64pt;
    margin-right: 2.4rem;
}

#course-title
{
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: space-between;
}

#course-title h1
{
    font-family: var(--sans-serif);
    font-size: 27pt;
    color: white;
}

#course-title h3
{
    font-family: var(--sans-serif);
    font-size: 14pt;
    font-style: italic;
    font-weight: 300;
    color: white;
}

#course-title h4
{
    font-family: var(--sans-serif);
    font-size: 10pt;
    font-weight: 500;
    color: white;
}

#header-bar
{
    width: 100%;
    height: 6pt;
    background-color: var(--ieee-blue);
    border: none;
}

#menu-icon
{
    height: 40pt;
    padding-left: 2.4rem;
    cursor: pointer;
}

#side-menu
{
    position: fixed;
    top: 0;
    right: -80%;
    width: 80%;
    height: 100%;
    background-color: var(--bg-color);
    transition: right 0.35s ease-in-out;
    padding-top: 1.2rem;
}

#side-menu.hidden
{
    right: -80%;
}

#side-menu:not(.hidden)
{
    right: 0;
}

#side-menu li
{
    margin-left: var(--margin-lr);
}

#gray-menu-bg
{
    position: fixed;
    top: 0;
    right: -20%;
    width: 20%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.72);
    transition: right 0.35s ease-in-out;
}

#gray-menu-bg.hidden
{
    right: -20%;
}

#gray-menu-bg:not(.hidden)
{
    right: 80%;
}

.paragraph
{
    margin-left: var(--margin-lr);
    margin-right: var(--margin-lr);
    margin-top: 2rem;
    margin-bottom: 2rem;
    border-radius: 1rem;
    color: var(--text-color);
}

.paragraph h2
{
    font-family: var(--sans-serif);
    text-align: left;
    margin-top: 2.4rem;
}

.paragraph h3
{
    font-family: var(--sans-serif);
    text-align: left;
    margin-top: 1.5rem;
}

.paragraph p
{
    margin-top: 0.5rem;
    font-family: var(--sans-serif); 
    text-align: left;
    background-color: transparent;
    line-height: 1.5;
}

.paragraph li
{
    margin-left: 2rem;
    text-align: left;
    font-family: var(--sans-serif);
    line-height: 1.5;
}

a.disabled
{
    pointer-events: none;
    cursor: default;
    color: gray;
    text-decoration: none
}

#sign-up-sec,
#instructor-info
{
    margin: 0;
    padding-left: var(--margin-lr);
    padding-right: var(--margin-lr);
    padding-top: 0.001rem;
    padding-bottom: 2rem;
    background: var(--ieee-gold);
    border-radius: 0;
}

.sep-bar
{
    border: none;
    width: 100%;
    height: 0pt;
    background-color: gray;
}

#close-button
{
    width: 40pt;
    padding-right: var(--margin-lr);
}
